<script type="text/template" id="usuario">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-usuarioForm">
    <% if(usuario.id) {%>
    <input type="hidden" name="id" value="<%= usuario.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= usuario.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="codigo">Codigo</label>
    	<input type="text" class="form-control" id="codigo" name="codigo" placeholder="Enter value" value="<%= usuario.get('codigo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="correo">Correo</label>
    	<input type="text" class="form-control" id="correo" name="correo" placeholder="Enter value" value="<%= usuario.get('correo') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="tipoidId">Tipo Id</label> 
            <select class="form-control" id="tipoId" name="tipoId">
			  <option value="">None</option>
            <% tipo.each(function(tipoid) { %> 
              <option value="<%=tipoid.get('id')%>" <% if(usuario.get('tipoId')==tipoid.get('id')) {%>selected<%}%> ><%=tipoid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 